@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ededed;
  color: #3c3c3c;
  background: var(--background);
  height: 100vh;
  overflow-y: auto;
}

.markdown > * {
  all: revert;
}

input,
textarea:focus {
  outline: none;
}
