@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ededed;
  color: #2f2f2f;
  background: var(--background);
  height: 100vh;
  overflow-y: auto;
}

.markdown > * {
  all: revert;
}

@font-face {
  font-family: "Sejong";
  font-weight: 200;
  src: url("../../public/fonts/SejongGeulggot.ttf") format("truetype");
}
